/*Use Variables at the End*/
:root{
    --bgcolor-pry: #2c1a6a;
    --bgcolor-sec: #331D7F;
    --bgcolor-ter: #fff;
    --bgcolor-ter2: #23272B;
    --font-pry: 'Karla', sans-serif;
    --font-sec: 'Abril fatface',cursive;
    --font-ter: 'Libre Bodoni', serif;
    --text-black: #000;
    --text-white: #fff;
    --text-tomato: #ff3600;
    --text-orange: #ff9000;
    --color1: #40407a;
    --color2: #372671;
    --color3: #eaeaea;
    --color4: #f6f7f7;
    --color5: #CCCCCC;
}

/*styles Reset*/
*, *::after , *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5% /* Font Size = 10px (1rem relative to elements within)*/
}

@media (max-width: 880px){/*Medium */
    html{
        font-size: 50%;
    }

    @media (max-width: 700px) {/*Medium */
        html{
            font-size: 40%;
        }
        
    }

    @media (max-width:600px) {/*Small */
        html{
        font-size: 35%;
        }
    }
}

/*Utility Classes */

.font2x {
    font-size: 2rem;
}

.ingrid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.outgrid{
    display: grid;
    grid-template-columns: [left]2fr [center]6fr [right]2fr;
    grid-template-rows: 10em ;
    grid-template-areas: 
    "a b c"
    "d b e"
}

@media (max-width: 1400px ) { /*Large */

    .outgrid{
        grid-template-columns: 2fr 7fr 1fr;
    }

    @media (max-width: 1170px){
        .outgrid{
            grid-template-columns: 1.5fr 8fr .5fr;
        }
    }
    @media (max-width:600px) {/*Small */
        .outgrid{
            grid-template-columns: 2fr 6fr 2fr;
        }
        
    }
}


section.ingrid{
    margin: 5em 0;
}

@media (max-width: 880px) {
    section.ingrid{
        margin: 2em 0;
    }
    
}

.stick{
    position: sticky;
    top: 0px;
}

/* Components */

.title h2{ /*Reused*/
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.title p{ /*Reused*/
    font-family: var(--font-sec);
    font-size: 1.75em;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 2em;
}


/*Default Styles*/

body{
    font-family: var(--font-pry);
    background-color: #f00;
    
}

.container{
    padding: 0 2vw;
    background-color: var(--bgcolor-pry) ;
    color: var(--text-white);
}

.container.change {
    background-color: var(--bgcolor-ter);
    color: var(--text-black);
}

@media (max-width: 600px) { /*Small */
    .container{
        padding:0 7vw;
    }
    
}



/* body::-webkit-scrollbar {
    display: none;
} */

/* scrollbar-width: none; */


/*YYYY*/

.logo{
    display: flex;
    align-items: center;
    grid-area: a;
}

@media (max-width:600px){/*Small */
    .logo{
        grid-area: a/a/a/b;
    }
}

.logo h2{
    font-family: var(--font-ter);
    font-size: 2em;
    letter-spacing: 0.1em;
    color: transparent;
    background-image: linear-gradient(to bottom, #ff9000, #f00);
    clip-path: path("M 36.08 30.64 L 34.88 30.64 L 24.76 1 L 21.72 1 L 21.72 0 L 49.68 0 L 49.68 1 L 47.4 1 L 44.08 10.2 L 48.2 22.48 L 48.36 22.48 L 55.84 1 L 51.72 1 L 51.72 0 L 60.04 0 L 60.04 1 L 57.16 1 L 46.88 30.64 L 45.68 30.64 L 40.96 16.84 L 36.08 30.64 Z M 10.08 29.56 L 4.72 29.56 L 4.72 0 L 10.08 0 L 10.08 29.56 Z M 24.64 30.16 L 0 30.16 L 0 29.16 L 16.92 29.16 A 5.711 5.711 0 0 0 18.652 28.907 A 4.779 4.779 0 0 0 20.3 28 A 7.119 7.119 0 0 0 21.949 25.966 A 9.052 9.052 0 0 0 22.44 24.92 A 11.542 11.542 0 0 0 23.21 21.452 A 13.41 13.41 0 0 0 23.24 20.76 L 24.64 20.76 L 24.64 30.16 Z M 30.12 1 L 37.48 22.48 L 37.64 22.48 L 40.32 14.92 L 35.56 1 L 30.12 1 Z M 14.92 1 L 0 1 L 0 0 L 14.92 0 L 14.92 1 Z M 40.92 1 L 43.44 8.36 L 46 1 L 40.92 1 Z");
}


@-moz-document url-prefix() {
    .logo h2{
        background-clip: text;
        clip-path: none;
    }
}

.logo p{
    font-size: .75em;
    font-weight: 600;
}


.menu-btn{
    grid-area: c;
    justify-self: end;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-basis: 4.5em;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.menu{
    position: fixed;
    left: 100%;
    z-index: 1;    
    transition: translate .1s ease-in;
}


.contain{
    background-color: var(--bgcolor-ter);
    color: var(--text-black);
    height: 100vh;
    width: max-content;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
}


.show{
    translate: -100%;
}

.contain > div:nth-of-type(1){
    align-self: end;
    margin-bottom: 3em;
}

.contain ul{
    list-style: none;
    font-size: 1.5em;
    font-weight: 600;
}


.contain a {
    text-decoration: none;
    color: inherit;
}

.contain a:hover{
    animation: name duration timing-function delay iteration-count direction fill-mode;
    color: var(--text-tomato);
}


.contain li{
    margin-bottom: 1em;
}

.contain > div:nth-of-type(2){
    margin: auto 0 0;
}

.logos2{
    display: flex;
    width: 5em;
    justify-content: space-between;
    font-size: 1.5em;
}


.contain > div:nth-of-type(2) > div:nth-of-type(2){
    font-size: .75em;
    text-transform: uppercase;
    margin-top: 1em;
}



/*Nav */
.nav{
    grid-area: a / a / d / a;
}

@media (max-width:600px){/*Small */
    .nav{
        display: none;
    }
}

.nav ul{
   top: 10em;
   font-size: .85em;
   text-transform: uppercase;
   font-weight: 600;
   opacity: .5;
   list-style: none;
   letter-spacing: .1em;
}

nav li {
    margin-bottom: 1em;
}


/*YYYY*/

.low{
    grid-area: b;
    display: grid;
    grid-auto-rows: auto;
    row-gap: 10em;
}

@media (max-width: 880px) {/*Medium */

    @media (max-width:600px){/*Small */
        .low{
            grid-area: a/a/d/c;
            padding-top: 10em;
        }
    }
    
}


/*yYYYY*/

.txt-box{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .15em;
}

.rot-txt{
    writing-mode: vertical-rl;
}

.tit-box {
    grid-column: 2;
    line-height: 1;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}


.tit-box> h1{
    font-family:var(--font-sec) ;
    font-size: 4.5em;
    color: var(--text-orange);
    margin-bottom: 1em;
    
}

.tit-box > p{
    line-height: 1.5;
    opacity: 0.4;
    font-size: .9em;
}

/*YYYY*/
.about{
    font-size: 2rem;
    grid-auto-rows: 3.5em max-content 3.5em;
}

.about img{
    grid-column: 1/ span 2;
    grid-row: 2/4;
    width: 100%;
    border: 1em solid white;
}

.about div{
    grid-column: 2 / span 2;
    grid-row: 1/3 ;
    background-image: url('/img/bg-dotted.png');
}


/*YYYYY*/

.services > .title{
    grid-column: 2;
}

.service-list{
    grid-column: 1/span 3;
    display: flex;
    border: 1px solid var(--color1);
    margin-bottom: 7em;
}

.service-list > .service-box:nth-child(-n+3){
    border-right: 1px solid var(--color1);
}


.service-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .75em;
    padding: 2em 0;
    height: 20em;
    background-color:var(--bgcolor-sec) ;
    position: relative;
}

.orange{
    height: .5em;
    width: 0%;
    background-color: var(--text-orange);
    position: absolute;
    bottom: 0;
}


.service-box h3{
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 1em;
}

.service-box p{
    line-height: 1.5;
    padding: 0 1em;
}

.service-box img{
    max-width: 3em;  
    margin: 0 1em;
}

.rot-parent{ /* rot paremt*/
    position: relative;
    
}

.bar{
    width: 1em;
    height: .3em;
    background-color: #fff;
    opacity: .5;
    margin: 0 1em;
}

.rot-bar{
    position: absolute;
    top: 0;
    transform-origin: center;
    width: 1em;
    height: .3em;
    background-color: var(--bgcolor-ter);
    opacity: .5;
    margin: 0 1em;
}



.stats{
    grid-column: span 3;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr 1fr;
    border-top: 1px solid var(--color2);
    padding-top: 7em;
}

.stats > div{
    display: flex;
    align-items: center;
}

.stats > div:nth-child(2){
    justify-self: center;
}

.stats span:nth-of-type(2n-1){
    font-family: var(--font-sec);
    font-size: 3.5em;
    margin-right: .5em;
}


.stats span:nth-of-type(2n){
    font-size: .9em;
    text-transform: uppercase;
    opacity: .6;
}


@media (max-width: 1281px ){/*large*/
    .stats span:nth-of-type(2n-1){
        font-size: 2.5em;
    }

    
@media (max-width: 880px) {/*Large */
        .service-list{
            flex-wrap: wrap;
        }

        .service-box{
            flex-basis: 50%;
        }

        .service-list > .service-box:nth-child(n){
            border: none;
        }

        .service-list > .service-box:nth-child(2n-1){
            border-right: 1px solid var(--color1);
        }

        .service-list > .service-box:nth-child(-n+2){
            border-bottom: 1px solid var(--color1);
        }

        .stats{
            grid-auto-flow: row;
            padding-top: 3.5em;
        }

        .stats > div:nth-child(2){
            justify-self: flex-start;
        }

    }

    @media (max-width: 600px) {
        .service-box {
            flex-basis: 100%;
        }

        .service-list > .service-box:nth-child(-n+3){
            border-bottom: 1px solid var(--color1)
        }
        
    }

}

/*YYYY*/

@media (min-width:601px) {/*Medium to Large*/

    .works-layout{
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-template-rows: repeat(4 ,calc( 2.5em + (1.75em* 1.34)*2 + 1.75em*4));
    }

        
    .works-layout > div:nth-child(1){
        grid-column: 2;
        
    }

    .works-layout > div:nth-child(2){
        grid-column: 3/span 2;
        grid-row: 1/ span 2;
    }

    .works-layout > div:nth-child(3){
        grid-column: 1/span 2;
        grid-row: 2/span 2;
    }

    .works-layout > div:nth-child(4){
        grid-column: 3/span 2;
        grid-row: 3/span 2;
    }

    .works-layout > div:nth-child(5){
        align-self: center;
        grid-column: 2/ 3;
        font-size: .75em;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1em;
    }

}


    .work-temp{
        grid-template-rows: 1fr 1fr;
        color: var(--text-white);
        position: relative;
        z-index: 0;
        overflow: hidden;
    }

    .prjimg{
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        object-fit: cover;
        object-position: right bottom;
        transition: scale 1s; 
    }

    .work-temp > p:nth-child(1){
        grid-column: 2/3;
        font-size: .75em;
        margin-top: 1em;
    }



@media (max-width: 600px) {/*Small*/
    .works-layout{
        grid-column: span 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto repeat(3, minmax(300px, 1fr)) minmax(auto ,100px);
    }


    .works-layout > div:nth-child(5){
        align-self: center;
        font-size: .75em;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1em;
    }
}


.prj-tit{
    grid-column: span 3;
    align-self: end;
    font-size: 2em;
    padding: 1em 0;
    transition: background-color 1s;
}

.prj-tit > p:nth-child(n){
    grid-column: 2;
} 

.prj-tit > p:nth-child(1){
    font-family: var(--font-sec);
    position: relative;
    margin-bottom: .7em;
}

.icon{
position: absolute;
right: 20%;
opacity: 0;
transition: right .75s .25s , scale 1s .25s , opacity 1s .25s;
}

.prj-tit p:nth-child(2){
    font-size: .375em;
}

/*Transition Classes*/
.icon.change{
    right: 10%;
    scale: 1.2;
    opacity: 1;
}

.prj-tit.change{
    background-color: var(--bgcolor-ter2);
}

.prjimg.change{
    scale: 1.05;
}


/*YYYYY*/

.partners > div:nth-child(1){
    grid-column: 2;
}

.partner-layout{
    grid-column: 1/span 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr 1fr; 
    border: 1px solid var(--color3);
}


.partner-layout div:nth-child(n){
    border: 1px solid var(--color3);
    text-align: center;
    padding: 20%; 
}

.partner-layout img{
    max-width: 100%;
    height: 100%; 
    object-fit: contain;
    opacity: 0.4;
}

@media (max-width: 600px) {/*Small */
    .partner-layout{
        grid-template-columns: repeat(auto-fill,  minmax(100px , 1fr));
        border: none;
    }
    
}

/*YYYY*/

.news > div:nth-child(1){
    grid-column: 2/span 1;
    
}

.article-layout{
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
    row-gap: 1em;
    column-gap: 1em;
    margin-top: 3.5em;
    color: var(--text-black);
}

.article{
    display: grid;
    background-color: var(--color4);
    font-size: 1em;
    padding: 2em;
}

.article > p:nth-child(1){
    font-size: 3.5em;
    color: var(--color5);
    font-family: var(--font-sec);
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.article > p:nth-child(1) span:nth-child(2){
    font-family: 'Karla', sans-serif;
    font-size: .22em;
    font-weight: 500;
}

.article > p:nth-child(2){
    color: var(--text-tomato);
    font-size: .75em;
    margin-bottom: 2em;
}

.article > p:nth-child(3){
    font-weight: 600;
}
/*YYYYY*/

.footer{
    /* grid-column: 2/3; */
    background-color: var(--bgcolor-pry);
    color: var(--text-white);
    margin: 0 -2vw;
}

.footer > div:nth-child(1){
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.footer > div:nth-child(1) > p:first-child{
    margin-bottom: 1em;
}

.footer > div:nth-child(2){
    grid-column: 2;
    grid-row: 2;
    font-size: .75em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color2);
    padding: 5em 0;
}