/*Use Variables at the End*/

/*styles Reset*/
*, *::after , *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%
}

/*Default Styles*/
body{
    font-family: 'Karla',sans-serif;
    background-color: #f00;
    
}

/* body::-webkit-scrollbar {
    display: none;
} */


.outgrid{
    display: grid;
    grid-template-columns: [left]2fr [center]6fr [right]2fr;
    grid-template-rows: 10em ;
    grid-template-areas: 
    "a b c"
    "d b e"
}


section.ingrid{
    margin: 5em 0;
}

.wrapper{
    font-family: 'Karla',sans-serif;
    background-color: #2c1a6a;
    color: #fff;
    /* scrollbar-width: none; */
}


/*
YYYY*/

.stick{
    position: sticky;
    top: 0px;
}

.logo{
    display: flex;
    align-items: center;
    grid-area: a;
}

.logo h2{
    font-family: 'Libre Bodoni', serif;
    font-size: 4rem;
    letter-spacing: 0.1em;
    color: transparent;
    background-image: linear-gradient(to bottom, #ff9000, #f00);
    clip-path: path("M 36.08 30.64 L 34.88 30.64 L 24.76 1 L 21.72 1 L 21.72 0 L 49.68 0 L 49.68 1 L 47.4 1 L 44.08 10.2 L 48.2 22.48 L 48.36 22.48 L 55.84 1 L 51.72 1 L 51.72 0 L 60.04 0 L 60.04 1 L 57.16 1 L 46.88 30.64 L 45.68 30.64 L 40.96 16.84 L 36.08 30.64 Z M 10.08 29.56 L 4.72 29.56 L 4.72 0 L 10.08 0 L 10.08 29.56 Z M 24.64 30.16 L 0 30.16 L 0 29.16 L 16.92 29.16 A 5.711 5.711 0 0 0 18.652 28.907 A 4.779 4.779 0 0 0 20.3 28 A 7.119 7.119 0 0 0 21.949 25.966 A 9.052 9.052 0 0 0 22.44 24.92 A 11.542 11.542 0 0 0 23.21 21.452 A 13.41 13.41 0 0 0 23.24 20.76 L 24.64 20.76 L 24.64 30.16 Z M 30.12 1 L 37.48 22.48 L 37.64 22.48 L 40.32 14.92 L 35.56 1 L 30.12 1 Z M 14.92 1 L 0 1 L 0 0 L 14.92 0 L 14.92 1 Z M 40.92 1 L 43.44 8.36 L 46 1 L 40.92 1 Z");
}


@-moz-document url-prefix() {
    .logo h2{
        background-clip: text;
        clip-path: none;
    }
}
.logo p{
    font-size: 1.5rem;
    font-weight: 600;
}


.menu-btn{
    grid-area: c;
    justify-self: end;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-basis: 4.5em;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    
}

.menu{
    position: fixed;
    left: 100%;
    z-index: 1;    
    transition: translate .1s ease-in;
}


.contain{
    background-color: white;
    color: #000;
    height: 100vh;
    width: max-content;
    font-size: 2rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    /* display: none;
    transition: display 3s .1s; */
}
/* 
.display{
    animation: display 3s  .1s  forwards ;
    display: block;
}


@keyframes display {
    from{
        display: none;
    }

    to{
        display: block;
    }
    
} */

.show{
    translate: -100%;
}

.contain > div:nth-of-type(1){
    align-self: end;
    margin-bottom: 3em;
}

.contain ul{
    list-style: none;
    font-size: 3rem;
    font-weight: 600;
}


.contain a {
    text-decoration: none;
    color: inherit;
    /* transition: color .2s .1s ease-in-out;
    transform-origin: left bottom; */
}

.contain a:hover{
    animation: name duration timing-function delay iteration-count direction fill-mode;
    color: tomato;
}


.contain li{
    margin-bottom: 1em;
}

.contain > div:nth-of-type(2){
    margin: auto 0 0;
}

.logos2{
    display: flex;
    width: 5em;
    justify-content: space-between;
    font-size: 3rem;
}


.contain > div:nth-of-type(2) > div:nth-of-type(2){
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 1em;
}


/*YYYY*/

.low{
    /* grid-row: 1/3;
    grid-column: 2/3; */
    grid-area: b;
}


/*Nav */
.nav{
    /* grid-column: 1/2;
    grid-row: 2; */
    grid-area: a / a / d / a;
}

.nav ul{
   top: 10em;
   font-size: 1.7rem;
   text-transform: uppercase;
   font-weight: 600;
   opacity: .5;
   list-style: none;
   letter-spacing: .1em;
}


/*yYYYY*/

.ingrid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;

}

.home{
   font-size: 1.7rem; 
}

.txt-box{
    /* position: relative; */
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .15em;
}

.rot-txt{
    /* position: absolute;
     transform-origin: bottom left ;
    transform: rotateZ(90deg); */
    writing-mode: vertical-rl;
    /* width: 10em; */

}
.tit-box {
    grid-column: 2;
    line-height: 1;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}


.tit-box> h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 9rem;
    color: #ff9000;
    margin-bottom: 1em;
    
}

.tit-box > p{
    line-height: 1.5;
    opacity: 0.4;
    font-size: 1.8rem;
}

/*YYYY*/
.about{
    grid-auto-rows: 7em max-content 7em;
}

.about img{
    grid-column: 1/ span 2;
    grid-row: 2/4;
    width: 100%;
    border: 1em solid white;
}

.about div{
    grid-column: 2 / span 2;
    grid-row: 1/3 ;
    z-index: -1;
    background-image: url('/img/bg-dotted.png');
}


/*YYYYY*/

.services > .title{
    grid-column: 2;
}

.title h2{ /*Reused*/
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.title p{ /*Reused*/
    font-family: 'Abril fatface', cursive;
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 2em;
}

.service-list{
    grid-column: 1/span 3;
    display: flex;
    border: 1px solid #40407a;
    margin-bottom: 7em;
    /* align-items: baseline; */
}

.service-list > .service-box:nth-child(-n+3){
    border-right: 1px solid #40407a;
}


.service-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 2em 1em;
    height: 20em;
    background-color: #331D7F;
}

.service-box h3{
    text-transform: uppercase;
    font-weight: 700;
}

.service-box p{
    line-height: 1.5;
}

.service-box img{
    max-width: 3em;  
}

.service-box div{
    position: relative;
    width: 1.5em;
    height: .4em;
    background-color: #fff;
    opacity: 0.5;

}

.service-box div::after{
    content: "";
    position: absolute;
    width: 1.5em;
    height: .4em;
    background-color: #fff;
    opacity: .6;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.service-box div:hover{
    animation: rotate 300ms 100ms forwards;
}


@keyframes rotate{
    0%{

    }

    100%{
        transform: rotateZ(270deg);
    }
}


.services .stats{
    grid-column: span 3;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr 1fr;
    border-top: 1px solid #372671;
    padding-top: 7em;
}

.stats > div{
    display: flex;
    align-items: center;
}

.stats > div:nth-child(2){
    justify-self: center;
}

.stats span:nth-of-type(2n-1){
    font-family: 'Abril fatface', cursive;
    font-size: 7rem;
    margin-right: .5em;
}


.stats span:nth-of-type(2n){
    font-size: 1.8rem;
    text-transform: uppercase;
    opacity: .6;
}

/*YYYY*/
.works-layout{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: repeat(4 ,calc( 1.5rem + 3.5rem + (3.5rem* 1.34)*2 + 3.5rem*4));
}

.works-layout > div:nth-child(1){
    grid-column: 2;
    
}

.works-layout > div:nth-child(2){
    grid-column: 3/span 2;
    grid-row: 1/ span 2;
}

.works-layout > div:nth-child(3){
    grid-column: 1/span 2;
    grid-row: 2/span 2;
}

.works-layout > div:nth-child(4){
    grid-column: 3/span 2;
    grid-row: 3/span 2;
}

.works-layout > div:nth-child(5){
    align-self: center;
    grid-column: 2/ 3;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
}

.work-temp{
    grid-template-rows: 1fr 1fr;
    color: #fff;
    position: relative;
    z-index: 0;
}

.work-temp img{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    object-position: right bottom;
}

.work-temp > p:nth-child(1){
    grid-column: 2/3;
    font-size: 1.5rem;
    margin-top: 1em;
}

.prj-tit{
    grid-column: span 3;
    align-self: end;
    background-color: #000;
    font-size: 4rem;
    padding: 1em 0;
}

.prj-tit > p:nth-child(n){
    grid-column: 2;
} 

.prj-tit > p:nth-child(1){
    font-family: 'Abril fatface', cursive;
    position: relative;
    margin-bottom: .7em;
}

.prj-tit > p:nth-child(1) span:nth-child(2){
position: absolute;
right: 20%;
}

.prj-tit p:nth-child(2){
    font-size: 1.5rem;
}

/*YYYYY*/

.partners > div:nth-child(1){
    grid-column: 2;
}

.partner-layout{
    grid-column: 1/span 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr 1fr; 
    border: 1px solid #eaeaea;
}


.partner-layout div:nth-child(n){
    border: 1px solid #eaeaea;
    text-align: center;
    padding: 20%; 
}

.partner-layout img{
    max-width: 100%;
    height: 100%; 
    object-fit: contain;
    opacity: 0.4;
}

/*YYYY*/

.news > div:nth-child(1){
    grid-column: 2/span 1;
}

.article-layout{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    margin-top: 7em;
}

.article{
    display: grid;
    background-color: #f6f7f7;
    font-size: 2rem;
    padding: 2em;
}

.article > p:nth-child(1){
    font-size: 3.5em;
    color: #CCCCCC;
    font-family: 'Abril fatface', cursive;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.article > p:nth-child(1) span:nth-child(2){
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.article > p:nth-child(2){
    color: #ff3600;
    font-size: 1.5rem;
    margin-bottom: 2em;
}

.article > p:nth-child(3){
    font-weight: 600;
    margin-bottom: 2em;
}
/*YYYYY*/

.footer{
    /* grid-column: 2/3; */
    font-size: 3rem;
    background-color: #2c1a6a;
    color: #fff;
}

.footer > div:nth-child(1){
    margin: 4em 0;
}

.footer > div:nth-child(2){
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #372671;
    padding: 5em 0;
}